# Ignore Python compile directory
__pycache__/

# Ignore build directories and files
build/
dist/
*.spec
# Keep the combined build spec
!rigdio-combined.spec

# Ignore downloaded tools (UPX, etc.)
tools/

# Ignore log files
*.log

# Ignore deployment files
plugins/
*.dll
